.reviews {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.reviews .reviews__content img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50% !important;
}
.reviews .reviews__content {
  margin-bottom: 2rem;
}
.reviews ,
.reviews .iconfont-wrapper {
  color: #000000;
}
.reviewsS .reviews__text {
  color: #000000;
  text-align: center;
}
.reviews .reviews__header {
  max-width: 800px;
}
.reviews  {
  color: #000000;
}

.reviews ,
.reviews .reviews__image {
  text-align: center;
}
.reviews .reviews__image {
  display: flex;
  justify-content: center;
}
.reviews__header {
  max-width: 800px;
}