.social-links__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.social-links__list .social-links__item {
  margin: 8px;
}
.social-links__list .social-links__item a:hover .social-links__icon,
.social-links__list .social-links__item a:focus .social-links__icon {
  background-color: #ffffff;
}
.social-links ,
  .social-links .social-list {
    color: #000000;
  }