.booking {
  display: flex;
  padding-top: 6em;
  padding-bottom: 5em;
  background-color: var(--dominant-color, #393193);
}
@media (min-width: 768px) {
  .booking {
      align-items: center;
  }
  .booking .row {
      justify-content: center;
  }
}

.booking ,
.booking .booking__button {
  text-align: center;
  color: var(--dominant-text, #ffffff);
}
.cid-uxk8jD0QWW {
  display: flex;
  background-image: url("images/freepik__expand__61135.png");
}
  .cid-uxk8jD0QWW .row {
    justify-content: center;
  }