.header__brand {
  align-items: center;
}
img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  max-width: 100%;
}
img,
iframe {
  display: block;
  width: 100%;
}
.mbr-bg-white {
  background-color: #ffffff;
}
.mbr-semibold {
  font-weight: 500;
}

.mbr-regular {
  font-weight: 400;
}
.mbr-light {
  font-weight: 300;
}

.mbr-figure {
  align-self: center;
}
.mbr-bold {
  font-weight: 700;
}
.mbr-black {
  color: #111111;
}
.mbr-bg-black {
  background-color: #000000;
}