.modal-image {
  height: 50vh; /* Фиксированная высота */
  width: auto; /* Ширина подстраивается под высоту */
  max-width: 100%; /* Чтобы не выходило за границы экрана */
  object-fit: contain; /* Подгоняет изображение без обрезки */
  display: block;
  margin: 0 auto; /* Центрирование */
  border-radius: 5px;
}
.modal-image {
  max-width: 100%;
  max-height: 80vh;
  margin: 100px auto;
  border-radius: 5px;
}