.footer .social-links__list .social-links__item a .social-links__icon {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #edefeb;
  color: #000000;
  transition: all 0.3s ease-in-out;
}
.footer .header__list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.footer .header__list li {
  padding: 0 1rem 1rem 1rem;
}
.footer {
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
  width: 100%;
  justify-content: center;
}